@model KouStore.Areas.Customer.Models.HomePageViewModel

<h1>Home</h1>
@foreach (var category in @Model.Categories)
{
    <a>@category.Name</a>
    <br />
}
<br />
@foreach (var product in @Model.QueryModels)
{
    <a>@product.Title</a>
    <br />
}
