
:root {
    --text-color: #ffffff;
    --text-alt-color: #000000;

    --panel-color: #00000050;
    --subpanel-color: #00000050;

    --input-bg-color: #00000050;
    --input-border-color: #bababa50;
    --input-bg-color-focus: #000000;

    --shadow-color: #00000030;

    --button-color: #00000070;
    --button-color-small: #9b9b9b70;
    --button-color-hover-success: #2bac2ba0;
    --button-color-active-success: #82ff82a0;
    --button-color-hover-danger: #944837a0;
    --button-color-active-danger: #ee502ca0;
    --button-color-hover-neutral: #555555a0;
    --button-color-active-neutral: #929292a0;

    --error-color: #da755f;

}
