@import "colors.css";
@import "buttons.css";
@import "inputs.css";
@import "form.css";
@import "errors.css";
@import "header.css";
@import "footer.css";
@import "panels.css";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: var(--text-color);
    transition: background-color 0.5s;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 100vw;
    min-height: 100vh;
    background-color: var(--primary-color-2);
    background-image: url(/image/koubg.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
}

main {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    padding: 5vh 10vw;
}