@model KouStore.Models.FormModel<KouStore.Areas.Admin.Models.ProductViewModel>

<h1>@Model.ViewModel.Category.Name</h1>
<h3>Update Product</h3>

<form method="post" enctype="multipart/form-data" asp-area="Admin" asp-controller="Products" asp-action="Update">
    <input asp-for="ViewModel.Category.Name" type="hidden" />
    <input asp-for="ViewModel.Product.Id" type="hidden" />
    <label asp-for="ViewModel.Product.Title"></label>
    <input asp-for="ViewModel.Product.Title" />
    <br />
    <label asp-for="ViewModel.Product.Description"></label>
    <input asp-for="ViewModel.Product.Description" />
    <br />
    <label>Current Image</label>
    <img src="@Model.ViewModel.Product.GetImageDataURL()" width="256" height="256" />
    <br />
    <label>New Image</label>
    <input asp-for="ViewModel.ImageFile" accept="image/jpeg" />
    <br />
    <label asp-for="ViewModel.Product.Price"></label>
    <input asp-for="ViewModel.Product.Price" />
    <br />
    <input type="submit" value="Update" />
    <br />
</form>
<a asp-action="Index" asp-route-categoryName="@Model.ViewModel.Category.Name">Back</a>