@import "../shared/common.css";

.home {
    width: 100%;
}

.home .panel {
    width: 100%;
    flex-grow: 1;
    padding: 1rem 2rem;
    background-color: var(--panel-color);
    border-radius: 8px;
    box-shadow: 0 0 10px 1px var(--shadow-color);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.home .panel .product-container {
    display: flex;
    max-width: 100%;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.home .panel .product-container .product {
    width: 256px;
    margin: 10px;
}
.home .panel .product-container .product:hover {
    transform: scale(1.05);
    filter: brightness(1.1);
}

.home .panel .product-container .product .header-img {
    width: 256px;
    height: 256px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
.home .panel .product-container .product .product-info {
    background-color: var(--subpanel-color);
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    padding: 1rem;
}
.home .panel .product-container .product .product-info .title-price {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}
.home .panel .product-container .product .product-info .title-price * {
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    flex-grow: 1;
}
.home .panel .product-container .product .product-info .title-price .price {
    text-align: right;
}
.home .panel .product-container .product .product-info .description {
    padding: 1rem 0;
    height: 128px;
    overflow: hidden;
}
.home .panel .product-container .product .update-delete {
    background-color: var(--subpanel-color);
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home .panel .product-container .product .update-delete .button-success {
    flex-grow: 1;
}

.home .panel .category-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 50px;
    flex-wrap: wrap;
}
.home .panel .category-container a {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    margin: 5px;
}

.home .panel .page-numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.home .panel .page-numbers a {
    border-radius: 0;
    padding: 1rem 2rem;
    min-width: 8rem;
}
.home .panel .page-numbers a.current-page-number {
    background-color: var(--button-color-hover-success);
}
.home .panel .page-numbers a.current-page-number:hover {
    background-color: var(--button-color-active-success);
}