@import "../shared/common.css";
@import "../shared/productcontainer.css";
@import "../shared/pagenumbers.css";


.searchproducts {
    width: 100%;
}

.searchproducts .panel {
    width: 100%;
    flex-grow: 1;
    padding: 1rem 2rem;
    background-color: var(--panel-color);
    border-radius: 8px;
    box-shadow: 0 0 10px 1px var(--shadow-color);
    display: flex;
    flex-direction: column;
    gap: 10px;
}