<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href=~/style/admin/dashboard.css/>
    <link rel="stylesheet" href=~/style/admin/signin.css/>
    <link rel="stylesheet" href=~/style/admin/managecategories.css/>
    <link rel="stylesheet" href=~/style/admin/createcategory.css/>
    <link rel="stylesheet" href=~/style/admin/updatecategory.css/>
    <link rel="stylesheet" href=~/style/admin/products.css/>
    <link rel="stylesheet" href=~/style/admin/createproduct.css/>
    <link rel="stylesheet" href=~/style/admin/updateproduct.css/>
    <title>@ViewData["Title"]</title>
</head>
<body>
    <header>
        <div class="header-start">
            <a asp-action="Index" asp-controller="Dashboard" asp-area="Admin" class="header-button">Dashboard</a>
            <a asp-action="Index" asp-controller="Home" asp-area="Customer" class="header-button">Store</a>
        </div>
        <div class="header-end">
            @if (@Context.Session.IsAdminSignedIn())
            {
                <a asp-action="Logout" asp-controller="SignIn" asp-area="Admin" class="header-button">Logout</a>
            }
        </div>
    </header>
    <main role="main">
        @RenderBody()
    </main>
    <footer>Footer</footer>
</body>
</html>
