<h1>Dashboard</h1>
<a asp-controller="Categories" asp-action="Index">Manage Products</a>
<br />
<a asp-action="">Manage Customers</a>
<br />
<a asp-area="Admin" asp-controller="SignIn" asp-action="Logout">Log out</a>