<div class="dashboard">
    <div class="panel">
        <h1>Dashboard</h1>
        <div class="menus">
            <a class="button big-menu-button" asp-controller="Categories" asp-action="Index">Manage Products</a>
            <a class="button big-menu-button" asp-controller="Customers" asp-action="Index">Manage Customers</a>
        </div>
    </div>
</div>