@model KouStore.Models.LoginModel
@{
    ViewData["Title"] = "Admin Login";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <main>
        <form method="post" asp-action="Verify">
            <h1>Admin Login</h1>
            <div>
                <label asp-for=@Model.UId></label>
                <input asp-for=@Model.UId />
            </div>
            <div>
                <label asp-for=@Model.Password></label>
                <input asp-for=@Model.Password />
            </div>
            <input type="submit" value="Login" />
        </form>
    </main>
</body>
</html>