@model KouStore.Models.AdminModel;
@{
    ViewData["Title"] = "Admin Login";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <main>
        <form method="post" asp-action="Verify">
            <h1>Admin Login</h1>
            <div asp-validation-summary="All"></div>
            @if (ViewData["Error"] != null)
            {
                <span>@ViewData["Error"]</span>
            }
            <div>
                <label asp-for="UId"></label>
                <input asp-for="UId"/>
                <span asp-validation-for="UId"></span>
            </div>
            <div>
                <label asp-for="Password"></label>
                <input asp-for="Password" />
                <span asp-validation-for="Password"></span>
            </div>
            <input type="submit" value="Login" />
        </form>
    </main>
</body>
</html>