@model FormModel<RegisterViewModel>
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>

<form method="post" asp-action="ValidateRegister">
    <label asp-for="ViewModel.Customer.Name"></label>
    <input asp-for="ViewModel.Customer.Name" />
    @if (!@Model!.ViewModel.NameValid)
    {
        <p>@Model.ViewModel.NameError</p>
    }
    <br />
    <label asp-for="ViewModel.Customer.Password"></label>
    <input asp-for="ViewModel.Customer.Password" />
    @if (!@Model!.ViewModel.PasswordValid)
    {
        <p>@Model.ViewModel.PasswordError</p>
    }
    <br />
    <label asp-for="ViewModel.ConfirmPassword"></label>
    <input asp-for="ViewModel.ConfirmPassword" />
    @if (!@Model!.ViewModel.ConfirmPasswordValid)
    {
        <p>@Model.ViewModel.ConfirmPasswordError</p>
    }
    <br />
    <input type="submit" value="Register" />
</form>