@model ProductPageViewModel
@{
    ViewData["Title"] = @Model!.Product.Title;
}
<h1>@Model.Product.Title</h1>
@if (@Model.IsInCard)
{
    <a>Go to Cart</a>
}
else
{
    <a asp-action="AddToCart" asp-route-id="@Model.Product.Id">Add to Cart</a>
}
