.dashboard .panel {
    width: 100%;
    flex-grow: 1;
    padding: 1rem 2rem;
    background-color: var(--panel-color);
    border-radius: 8px;
    box-shadow: 0 0 10px 1px var(--shadow-color);
}
.dashboard .panel .menus {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    padding: 1rem 2rem;
    width: 100%;
    height: 100%;
    flex-grow: 1;
}
.dashboard .panel .big-menu-button {
    padding: 2rem 4rem;
    text-align: center;
}
.dashboard .panel .big-menu-button:hover {
    background-color: var(--button-color-hover-success);
}