@model string
@{
    ViewData["Title"] = "Admin Login";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <main>
        <form method="post">
            <h1>@Model</h1>
            <input type="text" name="uid" required />
            <input type="password" name="pw" required />
            <input type="submit" value="Login" />
        </form>
    </main>
</body>
</html>