<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href=~/style/customer/home.css/>
    <title>@ViewData["Title"]</title>
</head>
<body>
    <header>
        <a asp-area="Customer" asp-controller="Home" asp-action="Index">Home</a>
        <form method="get" asp-area="Customer" asp-controller="Search" asp-action="Index">
            <span>
                <input name="search" type="text" />
                <input type="submit" value="Search" />
            </span>
        </form>
        @{
            var customerId = @Context.Session.GetCurrentCustomerId();
        }
        @if (@customerId != 0)
        {
            <a asp-action="Index" asp-controller="Cart" asp-route-id="@customerId">Cart</a>
            <a asp-action="Logout" asp-controller="SignIn" asp-area="Customer">Logout</a>
        }
        else
        {
            <a asp-action="Index" asp-controller="SignIn" asp-area="Customer">Sign in</a>
        }
    </header>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
    <footer>Footer</footer>
</body>
</html>
