@model CartViewModel
@{ViewData["Title"] = "Checkout";}

<h1>Checkout</h1>

@foreach (var product in @Model!.Products)
{
    <span>@product.Title</span>
    <br />
}
<h3>Total price: @Model.TotalPrice</h3>

<form method="post" asp-action="Payment">
    <input type="hidden" asp-for="@Model"/>
    <input type="submit" value="Payment"/>
</form>