@model CartViewModel
@{ViewData["Title"] = "Payment";}

<h1>Payment</h1>

@switch (@Model!.Payment)
{
    case KouStore.Enums.PaymentMethod.VISA:
        <h3>Payment with VISA hasn't been implemented yet!</h3>
        break;
    case KouStore.Enums.PaymentMethod.MasterCard:
        <h3>Payment with MasterCard hasn't been implemented yet!</h3>
        break;
    case KouStore.Enums.PaymentMethod.PayPal:
        <h3>Payment with PayPal hasn't been implemented yet!</h3>
        break;
    case KouStore.Enums.PaymentMethod.Mobile:
        <h3>Payment with Mobile hasn't been implemented yet!</h3>
        break;
    default:
        <h3>Payment hasn't been implemented yet!</h3>
        break;
}