@model CartViewModel
@{ViewData["Title"] = "Payment";}

<div class="paymentpage">
    <div class="panel">
        <h1 class="title">Payment</h1>
@switch (@Model!.Payment)
{
    case KouStore.Enums.PaymentMethod.VISA:
        <h2 class="warning">Payment with VISA hasn't been implemented yet!</h2>
        break;
    case KouStore.Enums.PaymentMethod.MasterCard:
        <h2 class="warning">Payment with MasterCard hasn't been implemented yet!</h2>
        break;
    case KouStore.Enums.PaymentMethod.PayPal:
        <h2 class="warning">Payment with PayPal hasn't been implemented yet!</h2>
        break;
    case KouStore.Enums.PaymentMethod.Mobile:
        <h2 class="warning">Payment with Mobile hasn't been implemented yet!</h2>
        break;
    default:
        <h2 class="warning">Payment hasn't been implemented yet!</h2>
        break;
}
    </div>
</div>