@model KouStore.Areas.Customer.Models.CategoryPageViewModel

<h1>@Model.Category.Name</h1>

@foreach (var product in @Model.QueryModels)
{
    <a asp-area="Customer" asp-controller="Product" asp-action="Index" asp-route-id="@product.Id">@product.Title</a>
    <br />
}
