@using KouStore.Areas.Admin.Models
@model KouStore.Models.FormModel
@{
    var adminViewModel = Model.ViewModel as AdminViewModel;
}
<h1>Admin Sign in</h1>
<form method="post" asp-action="Index">
    <label asp-for=@adminViewModel.Admin.Name></label>
    <input asp-for=@adminViewModel.Admin.Name />
    @if (!@Model.NameValid)
    {
        <p>@Model.NameErrorMessage</p>
    }
    <br />
    <label asp-for="Admin.Password"></label>
    <input asp-for="Admin.Password" />
    @if (!@Model.PasswordValid)
    {
        <p>@Model.PasswordErrorMessage</p>
    }
    <br />
    <input type="submit" />
</form>
