@using KouStore.Areas.Admin.Models
@model KouStore.Models.FormModel<CategoryViewModel>

<h1>Create New Category</h1>

<form method="post" asp-action="Create">
    <label asp-for="ViewModel.Category.Name"></label>
    <input asp-for="ViewModel.Category.Name" />
    @if (!@Model.ViewModel.NameValid)
    {
        <p>@Model.ViewModel.NameError</p>
    }
    <br />
    <input type="submit" value="Create" />
</form>

<br />
<a asp-action="Index">Back</a>
